<div class="row">
	<div class="col-xs-3">
		<ul class="nav nav-pills nav-stacked on-click-make-active">
			<!--Loads admin.viewAll state -->
			<li ui-sref-active="active"><a ui-sref="admin.viewAllPosts">View All Posts</a></li>

			<!--Loads admin.postNew state -->
			<li ui-sref-active="active"><a ui-sref="admin.newPost">Add Post</a></li>

			<!--Logs out admin -->
			<li ui-sref-active="active"><a href="#", ng-click="logout()">Logout</a></li>
		</ul>
	</div>

	<div class="col-xs-9 border-left">
		<div ui-view></div> <!--The nested views are loaded here -->
	</div>
</div>